/*font imports*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&family=Quicksand:wght@500&display=swap');
/* StockX Green color: Hex#256241*/
*, *::before, *::after, h1{
    font-family: 'Montserrat Alternates', sans-serif;
    box-sizing: border-box;
}
.QUICKSAND { 
    font-family: 'Quicksand', 'sans-serif' !important;
  } 

body {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

h1,h2,h3,h4,p {
    text-align: center;
}
h1 {
    font-size: 5em;
    display: inline-block;
    margin-bottom: 0;
}
p {
    padding-left: auto;
    padding-right: auto;
}
.stockXgreen {
    color: #256241;
}
.content {
    width: auto;
    height: 400px;
    position: absolute; /*Can also be `fixed`*/
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    border: 2px solid red;
    text-align: center;
}

.green-button {
    margin-top: 10px;
    background-color: white;
    color: #3e9754;
    border:2px solid #3e9754;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition-duration: .4s; 
    border-radius: 8px;

}

.green-button:hover {
    background-color: #3e9754;
    color: white;
    transform: 150ms;
    transform: scale(1.03);
    cursor: pointer;    
}




.centered-div {
    text-align: center;
}