/*font imports*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&family=Quicksand:wght@500&display=swap');
/* StockX Green color: Hex#256241*/
*, *::before, *::after, h1{
    font-family: 'Montserrat Alternates', sans-serif;
    box-sizing: border-box;
}
.QUICKSAND { 
    font-family: 'Quicksand', 'sans-serif' !important;
  } 
html, body, #root, #root>div {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
h1 {
    display: inline;
}
h4 {
    font-size: 5em;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    display: inline;
}

.root {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.stockXgreen {
    color: #256241;
}
.header-div {
    width: 100%;
    height: 100px;
}
.fixed-button {
    height: 70px;
    position: fixed;
    bottom: 0;
    width: 100%;
} 
.fixed-green-button {
    height: 70px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 10px;   
    border-style:none;
    background-color: white;
    color: #3e9754;
    border: 3px solid #3e9754;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition-duration: .4s; 
    border-radius: 8px;
}

.fixed-green-button:hover {
    background-color: #3e9754;
    color: white;
    transform: 150ms;
    transform: scale(1.03);
    cursor: pointer;    
}

.fixed-green-button:focus{
    outline: none;
}
.level-counter {
    left: 0
}
.level-counter, .score {
    position: fixed;
    top: 0;
    margin: 2% 2%
}

.score {
    right: 0;
}

.sneaker-img {
    height: 600px;
    width: auto;
}

.game-div {
    text-align: center;
    align-items: center;
}

.input-div {
    text-align: center;
    height: 650px;
    width: auto;
    display: none;
    align-items: center;
    justify-content: center;
    display: flex;
}
.black-outline {
    background-color: #fff;
    width: 80%;
    height: 25px;
    border: 1px solid #000;
    text-align: center;
    margin-top: 1%;
    font-size: .8em;
    text-transform: uppercase
}
.text-div {
    text-align: center;
    height: 675px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.guess-input {
    height: 60%;
    border: none;
    top: 40px;
    bottom: 40px;
    margin: 0;
    padding: 10%;
    width: 80%;
    text-align: center;
    font-size: 140px;
    outline: none
}
.final-message-div {
    display:block;
}
.green-button {
    margin-top: 10px;
    background-color: white;
    color: #3e9754;
    border:2px solid #3e9754;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition-duration: .4s; 
    border-radius: 8px;

}

.green-button:hover {
    background-color: #3e9754;
    color: white;
    transform: 150ms;
    transform: scale(1.03);
    cursor: pointer;    
}



.centered-div {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}